.parent {
  display: grid;
  width: 350px;
  height: 150px;
  background-color: blue;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.child {
  width: 100px;
  height: 50px;
  background-color: cyan;
  margin: 0;
  padding: 0;
}

.red-block {
  padding: 0;
  height: 100px;
  width: 150px;
  margin: 0 auto;
  background-color: red;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.red-block span {
  padding: 0;
  margin: 0;
  text-align: center;
}

.margin-test {
  margin-top: 300px;
}
